# Tailscale Node IP of the main transcription server (motherloadubu)
SERVER_PROTOCOL="https"
SERVER_IP="motherloadubu.tail856658.ts.net"
SERVER_PORT="443"

# Hardware capture backend (arecord for Linux, rec for macOS)
AUDIO_BACKEND="arecord"